<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071227355003-qmsv5mctijergv4cob14mt8hhs7qeaia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071227355003-qmsv5mctijergv4cob14mt8hhs7qeaia</string>
	<key>API_KEY</key>
	<string>AIzaSyDyyMm3Qm9lsp1-du0obUnqoBVa9kQqwRE</string>
	<key>GCM_SENDER_ID</key>
	<string>1071227355003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mlCatAndDog</string>
	<key>PROJECT_ID</key>
	<string>cat-and-dog-classifier</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-and-dog-classifier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071227355003:ios:ceedabc9f556a877a747de</string>
</dict>
</plist>